{% extends "base.html" %} {% load static %}
{% block style_command %}
<style>
	.v-application--wrap{
		min-height: unset !important;
	}
</style>
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{% url 'home' %}">YA Tools</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="#">記帳</a>
				</li>
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="navbarDropdownMenuLink"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						基本設定
					</a>
					<ul
						class="dropdown-menu"
						aria-labelledby="navbarDropdownMenuLink"
					>
						<li>
							<a class="dropdown-item" href="#">收支類別</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">初始金額</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="navbarDropdownMenuLink"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						報表
					</a>
					<ul
						class="dropdown-menu"
						aria-labelledby="navbarDropdownMenuLink"
					>
						<li>
							<a class="dropdown-item" href="#">...</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div id="expenses_main" class="container mt-3" style="max-width: 700px">
	<div
		class="nav nav-pills justify-content-center"
		id="nav-tab"
		role="tablist"
	>
		<button
			class="nav-link active"
			id="nav-expenditure-tab"
			data-bs-toggle="tab"
			data-bs-target="#nav-expenditure"
			type="button"
			role="tab"
			aria-controls="nav-expenditure"
			aria-selected="true"
		>
			支出
		</button>
		<button
			class="nav-link"
			id="nav-revenue-tab"
			data-bs-toggle="tab"
			data-bs-target="#nav-revenue"
			type="button"
			role="tab"
			aria-controls="nav-revenue"
			aria-selected="false"
		>
			收入
		</button>
	</div>
	<div class="tab-content mt-3" id="nav-tabContent">
		<div
			class="tab-pane fade show active"
			id="nav-expenditure"
			role="tabpanel"
			aria-labelledby="nav-expenditure-tab"
		>
			<form>
				<div class="row mb-3">
					<label for="inputEmail3" class="col-sm-2 col-form-label"
						>Email</label
					>
					<div class="col-sm-10">
						<v-app>
							<v-menu
								v-model="pickerMenu"
								:close-on-content-click="false"
								:nudge-right="40"
								transition="scale-transition"
								offset-y
								min-width="auto"
							>
								<template v-slot:activator="{ on, attrs }">
									<v-text-field
										v-model="picker"
										label="Picker without buttons"
										prepend-icon="mdi-calendar"
										readonly
										v-bind="attrs"
										v-on="on"
									></v-text-field>
								</template>
								<v-date-picker
									v-model="picker"
									@input="pickerMenu = false"
								></v-date-picker>
							</v-menu>
						</v-app>
					</div>
				</div>
				<div class="row mb-3">
					<label for="inputPassword3" class="col-sm-2 col-form-label"
						>Password</label
					>
					<div class="col-sm-10">
						<input
							type="password"
							class="form-control"
							id="inputPassword3"
						/>
					</div>
				</div>
				<fieldset class="row mb-3">
					<legend class="col-form-label col-sm-2 pt-0">Radios</legend>
					<div class="col-sm-10">
						<div class="form-check">
							<input
								class="form-check-input"
								type="radio"
								name="gridRadios"
								id="gridRadios1"
								value="option1"
								checked
							/>
							<label class="form-check-label" for="gridRadios1">
								First radio
							</label>
						</div>
						<div class="form-check">
							<input
								class="form-check-input"
								type="radio"
								name="gridRadios"
								id="gridRadios2"
								value="option2"
							/>
							<label class="form-check-label" for="gridRadios2">
								Second radio
							</label>
						</div>
						<div class="form-check disabled">
							<input
								class="form-check-input"
								type="radio"
								name="gridRadios"
								id="gridRadios3"
								value="option3"
								disabled
							/>
							<label class="form-check-label" for="gridRadios3">
								Third disabled radio
							</label>
						</div>
					</div>
				</fieldset>
				<div class="row mb-3">
					<div class="col-sm-10 offset-sm-2">
						<div class="form-check">
							<input
								class="form-check-input"
								type="checkbox"
								id="gridCheck1"
							/>
							<label class="form-check-label" for="gridCheck1">
								Example checkbox
							</label>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Sign in</button>
			</form>
		</div>
		<div
			class="tab-pane fade"
			id="nav-revenue"
			role="tabpanel"
			aria-labelledby="nav-revenue-tab"
		>
			收入
		</div>
	</div>
	message [[message]]
</div>
{% endblock %} {% block script_command %}
<script>
	const app = new Vue({
		delimiters: ["[[", "]]"],
		el: "#expenses_main",
		vuetify: new Vuetify(),
		data: {
			message: "Hello Vue!",
			myDateTime: "",
			picker: new Date(
				Date.now() - new Date().getTimezoneOffset() * 60000
			)
				.toISOString()
				.substr(0, 10),
			pickerMenu: false,
		},
	});
</script>
{% endblock %}
