{% extends "expenses/base.html" %} {% load i18n %} {% block style_command %}
<style>
	.b-calendar-header {
		display: none !important;
	}
	.custom-select {
		display: inline-block;
		width: 100%;
		height: calc(1.5em + 0.75rem + 2px);
		padding: 0.375rem 1.75rem 0.375rem 0.75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #495057;
		vertical-align: middle;
		background: #fff
			url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
			no-repeat right 0.75rem center/8px 10px;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
</style>
{% endblock %} {% block content %}

{% get_current_language as LANGUAGE_CODE %}
{% trans '日期' as the_date %}
{% trans '類別' as the_category %}
{% trans '金額' as the_amount %}
{% trans '備註' as the_remarks %}
{% trans '送出' as submit %}

<div id="expenses_main" class="container mt-3" style="max-width: 700px">
	<b-tabs v-model="tabIndex" content-class="mt-3" justified>
		<b-tab title="{% trans '支出' %}" active>
			<form>
				<div class="row mb-3">
					<label for="datepicker" class="col-sm-2 col-form-label"
						>{{ the_date }}</label
					>
					<div class="col-sm-10">
						<b-form-datepicker
							id="datepicker"
							:date-format-options="{ weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }"
							:locale="getNowLocale()"
							calendar-width="100%"
							menu-class="w-100"
							hide-header
							v-model="date"
						></b-form-datepicker>
					</div>
				</div>
				<div class="row mb-3">
					<label for="category" class="col-sm-2 col-form-label"
						>{{ the_category }}</label
					>
					<div class="col-sm-10">
						<div class="row">
							{% for expensecategory in expensecategorylist %}
							<div class="col-3 text-center mb-2">
								<button type="button" class="btn" :class="{'btn-primary': category === '{{ expensecategory.name }}'}" @click="category = '{{ expensecategory.name }}'">
									<i class="fa-solid fa-2xl {{ expensecategory.image }}"></i>
									<br>
									{% trans expensecategory.name_CH %}
								</button>
							</div>
							{% endfor %}
							<div class="col-3 text-center">
								<button type="button" class="btn">
									<i class="fa-solid fa-2xl fa-plus"></i>
									<br>
									{% trans '新增' %}
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row mb-3">
					<label for="amount" class="col-sm-2 col-form-label"
						>{{ the_amount }}</label
					>
					<div class="col-sm-10">
						<b-form-input
							id="amount"
							type="number"
							v-model="amount"
						></b-form-input>
					</div>
				</div>
				<div class="row mb-3">
					<label for="remarks" class="col-sm-2 col-form-label"
						>{{ the_remarks }}</label
					>
					<div class="col-sm-10">
						<b-form-textarea
							id="remarks"
							v-model="remarks"
							rows="3"
							max-rows="6"
						></b-form-textarea>
					</div>
				</div>
				<div class="row mb-3">
					<button type="submit" class="btn btn-primary">{{ submit }}</button>
				</div>
			</form>
		</b-tab>
		<b-tab title="{% trans '收入' %}">
			<form>
				<div class="row mb-3">
					<label for="datepicker" class="col-sm-2 col-form-label"
						>{{ the_date }}</label
					>
					<div class="col-sm-10">
						<b-form-datepicker
							id="datepicker"
							:date-format-options="{ weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }"
							:locale="getNowLocale()"
							calendar-width="100%"
							menu-class="w-100"
							hide-header
							v-model="date"
						></b-form-datepicker>
					</div>
				</div>
				<div class="row mb-3">
					<label for="category" class="col-sm-2 col-form-label"
						>{{ the_category }}</label
					>
					<div class="col-sm-10">
						<div class="row">
							{% for expensecategory in expensecategorylist %}
							<div class="col-3 text-center mb-2">
								<button type="button" class="btn" :class="{'btn-primary': category === '{{ expensecategory.name }}'}" @click="category = '{{ expensecategory.name }}'">
									<i class="fa-solid fa-2xl {{ expensecategory.image }}"></i>
									<br>
									{% trans expensecategory.name_CH %}
								</button>
							</div>
							{% endfor %}
							<div class="col-3 text-center">
								<button type="button" class="btn">
									<i class="fa-solid fa-2xl fa-plus"></i>
									<br>
									{% trans '新增' %}
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row mb-3">
					<label for="amount" class="col-sm-2 col-form-label"
						>{{ the_amount }}</label
					>
					<div class="col-sm-10">
						<b-form-input
							id="amount"
							type="number"
							v-model="amount"
						></b-form-input>
					</div>
				</div>
				<div class="row mb-3">
					<label for="remarks" class="col-sm-2 col-form-label"
						>{{ the_remarks }}</label
					>
					<div class="col-sm-10">
						<b-form-textarea
							id="remarks"
							v-model="remarks"
							rows="3"
							max-rows="6"
						></b-form-textarea>
					</div>
				</div>
				<div class="row mb-3">
					<button type="submit" class="btn btn-primary">{{ submit }}</button>
				</div>
			</form>
		</b-tab>
	</b-tabs>
	date [[date]]
	<br>
	category [[category]]
	<br>
	amount [[amount]]
	<br>
	remarks [[remarks]]
</div>
{% endblock %} {% block script_command %}
<script>const LANGUAGE = "{{ LANGUAGE_CODE }}";</script>
<script>
	const app = new Vue({
		delimiters: ["[[", "]]"],
		el: "#expenses_main",
		data() {
			return {
				tabIndex: 0,
				today: "",
				date: "",
				category: null,
				amount: "",
				remarks: "",
			};
		},
		watch: {
			tabIndex: {
				handler(value) {
					var vm = this;
					let saveData = [
						"tabIndex",
						"today"
					];
					vm.reset(saveData);
					vm.date = vm.today;
				},
			},
		},
		created: function () {
			this.getNow();
		},
		methods: {
			getNow() {
				let vm = this;
				let weekdaysCountConfig = [
					[Number(-6), Number(0)],
					[Number(0), Number(6)],
					[Number(-1), Number(5)],
					[Number(-2), Number(4)],
					[Number(-3), Number(3)],
					[Number(-4), Number(2)],
					[Number(-5), Number(1)],
				];
				let nowDate = new Date();
				let returnobj = {};
				returnobj = vm.dateFormat(nowDate);
				console.log(returnobj);
				vm.date = returnobj.year + "-" + returnobj.month + "-" + returnobj.day;
				vm.today = returnobj.year + "-" + returnobj.month + "-" + returnobj.day;
			},

			dateFormat(time) {
				let vm = this;
				let weekdays = [
					"星期日",
					"星期一",
					"星期二",
					"星期三",
					"星期四",
					"星期五",
					"星期六",
				];
				let thisDay = time.getDate();
				if (thisDay < 10) thisDay = "0" + thisDay;
				let thisMonth = time.getMonth() + 1;
				if (thisMonth < 10) thisMonth = "0" + thisMonth;
				return {
					year: time.getFullYear(),
					month: thisMonth,
					day: thisDay,
					weekday: weekdays[time.getDay()],
				};
			},

			getNowLocale(){
				return LANGUAGE === 'en' ? 'en' : 'zh'
			},

			//資料reset
			reset(keep) {
				var def = this.$options.data();
				for (var i = 0; i < keep.length; i++) {
					def[keep[i]] = this[keep[i]];
				}
				Object.assign(this.$data, def);
				//https://codepen.io/karimcossutti/pen/ObXyKq
			},
		},
	});
</script>
{% endblock %}
